@model IEnumerable<StockManager.Models.TipoDePrenda>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipoDePrendaId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDePrendaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.TipoDePrendaId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.TipoDePrendaId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.TipoDePrendaId })
            </td>
        </tr>
}
    </tbody>
</table>
