@model IEnumerable<StockManager.Models.Prenda>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PrendaID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Talle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoDePrendaID)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PrendaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Talle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDePrenda.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.PrendaID  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.PrendaID  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.PrendaID  })
            </td>
        </tr>
}
    </tbody>
</table>
